<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Welcome to Haft Manager</title>
</head>

<body>
    <h1>Welcome to Haft Manager</h1>
    <p>Hello {{ user.first_name }},</p>
    <p>We are thrilled to have you on board with HaftManager, a project management software designed to help you manage your
    projects, tasks, and teams with ease. Our app helps you track everything from project progress and task assignments to
    attachments, comments, and invoices. You can also manage your team, track worker hours, and monitor costs per task and
    project.</p>

    <p>We understand that managing projects can be challenging, and that's why we're here to make it easier for you. With
    HaftManager, you can focus on what matters most - achieving your project goals.</p>

    <p>We look forward to working with you and hope you have a great experience using our app.</p>

    <p>Best regards,</p>
    <p>The HaftManager Team</p>
</body>
</html>